<div *ngIf="password != null && confirm != null && code != null" class="container bg-light py-5">
    <form class="col-md-8 offset-md-2">
        <div class="col-md-12">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" [formControl]="password">
        </div>
        <div class="col-md-12 mt-3">
            <label for="confirm" class="form-label">Confirmer Mot de passe</label>
            <input type="password" class="form-control" [formControl]="confirm">
        </div>
        <div class="col-md-12 mt-3">
            <label for="code" class="form-label">Code de vérification</label>
            <input type="text" class="form-control" [formControl]="code">
        </div>
        <div class="col-md-12 mt-4 mb-3">
            <button type="button" (click)="save()" class="btn btn-primary col-md-12">Modifier mot de passe</button>
        </div>
    </form>
</div>