<div *ngIf="password != null && confirm != null && code != null" class="container bg-light py-5">
    <div *ngIf="alert.display" class="alert alert-danger alert-dismissible fade show fs-8
                                col-md-8 offset-md-2 mb-5">
        {{alert.message}}
        <button type="button" (click)="closeAlert()" class="btn-close"></button>
    </div>
    <form (submit)="save($event)" class="col-md-8 offset-md-2">
        <div class="col-md-12">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" [formControl]="password">
        </div>
        <div class="col-md-12 mt-3">
            <label for="confirm" class="form-label">Confirmer Mot de passe</label>
            <input type="password" class="form-control" [formControl]="confirm">
        </div>
        <div class="col-md-12 mt-3">
            <label for="code" class="form-label">Code de vérification</label>
            <input type="text" class="form-control" [formControl]="code">
        </div>
        <div class="col-md-12 mt-5 mb-3">
            <button type="submit" class="btn btn-primary col-12">
                <span *ngIf="!isLoading">Modifier mot de passe</span>
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        </div>
    </form>
</div>