<app-header></app-header>
<div *ngIf="isConnected" class="container-fluid container-md bg-light mt-5 py-5">
    <div *ngIf="alert.display && alert.error" class="alert alert-danger alert-dismissible fade show
        col-8 offset-2 col-lg-6 offset-lg-3 fs-8 mb-4">
        {{alert.message}}
        <button type="button" (click)="closeAlert()" class="btn-close"></button>
    </div>
    <div *ngIf="alert.display && !alert.error" class="alert alert-success alert-dismissible fade show
        col-8 offset-2 col-lg-6 offset-lg-3 fs-8 mb-4">
        {{alert.message}}
        <button type="button" (click)="closeAlert()" class="btn-close"></button>
    </div>
    <div class="col-10 offset-1 text-center">
        <h1>Modifier une surveillance</h1>
    </div>
    <div class="col-10 offset-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-5">
        <form (submit)="submit($event)">
            <div *ngIf="title != null" class="row">
                <div class="col-10 offset-1 col-md-10 offset-md-1">
                    <label for="title" class="form-label">Maladie à surveiller</label>
                    <input type="text" id="title" class="form-control" [formControl]="title" required>
                </div>
            </div>
            <div *ngIf="date != null" class="row mt-3">
                <div class="col-10 offset-1 col-md-10 offset-md-1">
                    <label for="date" class="form-label">Date & Heure</label>
                    <input type="datetime-local" id="date" class="form-control" [formControl]="date" required>
                </div>
            </div>
            <div *ngFor="let parameter of parameters; let i = index;" class="row mt-3">
                <div class="col-6 offset-1 col-sm-7 offset-sm-1 col-md-7 offset-md-1">
                    <label for="parameter{{i}}" class="form-label">Paramètre n*{{i + 1}}</label>
                    <input type="text" [formControl]="parameter.name" id="parameter{{i}}" class="form-control" required>
                </div>
                <div class="col-4 col-sm-3 col-md-3">
                    <label for="unit{{i}}" class="form-label">Unité n*{{i + 1}}</label>
                    <input type="text" [formControl]="parameter.unit" id="unit{{i}}" class="form-control">
                </div>
                <div class="col-1 col-sm-1 col-md-1 d-flex py-1">
                    <button (click)="removeParameter($event, i)" class="btn btn-danger btn-sm align-self-end">
                        <i class="bi bi-dash"></i>
                    </button>
                </div>
            </div>
            <div class="row px-3 mb-5">
                <button (click)="addParameter($event)" class="mt-4 col-10 offset-1 col-md-4 offset-md-1 col-lg-3 offset-lg-1 btn btn-success">
                    Ajouter paramètre
                </button>
                <button type="submit" class="mt-4 col-10 offset-1 col-md-4 offset-md-2 col-lg-3 offset-lg-4 btn btn-primary">
                    <span *ngIf="!isLoading">Enregistrer</span>
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="!isConnected" class="container-fluid">
    <div class="d-flex justify-content-center mt-4 py-5">
        <div class="spinner-grow mx-1" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow mx-1" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow mx-1" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>