<app-header></app-header>
<div class="container bg-light py-5">
    <div *ngIf="(oversight != null) && (oversight.title != null)" class="row pt-5 text-center">
        <h1>{{oversight.title}}</h1>
    </div>

    <!--{% if chartDatas is defined %}
        {% for key, value in chartDatas %}
            <div class="col-md-10 offset-md-1 py-4">
                <canvas id="chart-{{ key }}" class="my-chart"></canvas>
            </div>
        {% endfor %}
    {% endif %}-->

    <div *ngIf="(oversight != null) && (oversight.id != null)" class="row mt-4">
        <a routerLink="/oversight-entry/{{ oversight.id }}" class="btn btn-primary col-md-2 offset-md-5">Ajouter une donnée</a>
    </div>

    <div *ngIf="(entryDetails != null) && (parameters != null)" class="col-md-10 offset-md-1 mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th *ngFor="let parameter of parameters" scope="col">
                        {{ parameter.name }} <span *ngIf="parameter.unit != null">({{ parameter.unit }})</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of entryDetails">
                    <td>{{entry.date | date: 'd/m/Y'}}</td>
                    <td *ngFor="let data of entry.data">{{data.value}}</td>
                    <td>
                        <a routerLink="/oversight-entry/edit/{{ entry.id }}">Modifier</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>