<app-header></app-header>
<div *ngIf="isConnected" class="container-fluid container-md bg-light py-5">
    <div *ngIf="(oversight != null) && (oversight.title != null)" class="row pt-5 text-center">
        <h1>
            {{oversight.title}}
            <a routerLink="/edit-oversight/{{oversight.id}}">
                <i class="bi bi-pencil-square fs-4 align-middle"></i>
            </a>
        </h1>
    </div>

    <div *ngIf="entryDetails != null && entryDetails.length > 0">
        <div *ngFor="let chartData of chartDatas" class="col-md-10 offset-md-1 py-4">
            <canvas baseChart type="line" [data]="chartData"></canvas>
        </div>
    </div>

    <div *ngIf="(oversight != null) && (oversight.id != null)" class="row mt-4">
        <a routerLink="/oversight-entry/add/{{ oversight.id }}" class="btn btn-primary col-4 offset-4 col-md-4 offset-md-4 col-xl-2 offset-xl-5">Ajouter une donnée</a>
    </div>

    <div *ngIf="(entryDetails != null) && (parameters != null) && (entryDetails.length > 0)" class="col-md-10 offset-md-1 mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th *ngFor="let parameter of parameters" scope="col">
                        {{ parameter.name }} <span *ngIf="parameter.unit != null">({{ parameter.unit }})</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of entryDetails">
                    <td>{{entry.date | date: 'dd/M/Y'}}</td>
                    <td *ngFor="let data of entry.data">{{data.value}}</td>
                    <td>
                        <a routerLink="/oversight-entry/edit/{{ entry.id }}">Modifier</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="!isConnected" class="container-fluid">
    <div class="d-flex justify-content-center mt-4 py-5">
        <div class="spinner-grow mx-1" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow mx-1" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow mx-1" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>