<app-header></app-header>
<div class="container bg-light mt-5 py-5">
    <div *ngIf="oversight != null && oversight.title != null" class="text-center">
        <h1 class="fs-3">{{ oversight.title }}</h1>
    </div>
    <div class="col-md-8 offset-md-2 mt-5">
        <form>
            <div class="col-md-4">
                <label for="date" class="form-label">Date & heure</label>
                <input type="datetime-local" name="date" id="date" class="form-control"/>
            </div>
                <div *ngFor="let parameter of parameters" class="mt-3">
                    <label class="form-label">
                        {{ parameter.name }} <span *ngIf="parameter.unit != null">({{ parameter.unit }})</span>
                    </label>
                    <input type="number" name="parameter-{{ parameter.id }}" class="form-control" min="0" step="any">
                </div>
            <div class="mt-4 mb-3">
                <button class="btn btn-primary col-md-3 offset-md-9">Ajouter données</button>
            </div>
        </form>
    </div>
</div>